<!doctype html>
<html lang="en">
<head>
	<title>AXA-O-AYA</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<script src="lib/head/socket.io.min.js"></script><!--socket.io.1.3.6-->
	<script src="lib/head/three.min.js"></script><!--THREE.js.0.82-->
	<script src="lib/head/soundmanager2.min.js"></script><!--SM2-->
	<link href="lib/style.css" rel="stylesheet" type="text/css">
</head>
<body style="margin:0px;overflow: hidden;">

<script>
	function chill() { Play(); curLevel=0; speedGame = 40; score=0; }
	function psych() { Play('AN5'); curLevel=1; speedGame = 30; score=0;}
	function mute() { Stop(); }
</script>

<div style="z-index: 100000000; position: absolute; width:100%;">
	<button style="float:left" onclick="chill()">Chill</button>
	<button style="float:left" onclick="psych()">Psych</button>
	<!--<button onclick="hardc()">HardC</button>-->
	<button style="float:left" onclick="mute()">Mute</button>
	<div  style="position:absolute; right:5px;" id="score"></div>

</div>

<!--script>var socket;
	r(function(){socket=io();Socketer();});//.connect();
	function r(f){/in/.test(document.readyState)?setTimeout('r('+f+')',20):f()}
</script-->
<h1>Please Wait - Loading Scripts</h1>
<!-- INGNORE ALL SCRIPT BUT COMPILED -->
<!--script src="exocommander.min.js"></script-->

<!--DATA FILES-->
<script src="data/levels.js"></script>


<div> <!--CORE FILES-->
<script src="core/main.js"></script>
<script src="core/NewScene.js"></script>
<script src="core/Axoaya.js"></script>
<script src="core/over.js"></script>
<script src="core/socket.js"></script> 
<script src="core/SolarSystem.js"></script>
<script src="core/Enemies.js"></script>
<script src="core/Bonus.js"></script>
<script src="core/util.js"></script>
<script src="core/MovingScene.js"></script>
</div>
 
<div> <!--LIB FILES--> 
<script src="lib/cam.js"></script> 
<script src="lib/detector.js"></script> 
<script src="lib/etashader.js"></script> 
<script src="lib/music.js"></script> 
<script src="lib/OBJ.js"></script> 
<script src="lib/stats.js"></script> 
<script src="lib/THREExFS.js"></script> 
<script src="lib/THREExWR.js"></script> 
</div> 
 
<div> <!--GUI FILES--> 
<script src="gui/gui.js"></script> 
</div> 
 
<div> <!--DATA FILES--> 
<script src="data/text-en.js"></script> 
</div> 
 

<div id="ThreeJS" style="position: absolute; left:0px; top:0px"></div>
<div style="style:absolute; display:block; z-index:99999; backgound-color:#332255;width:100%;height:100%;text-align:center;">YOU LOOSE</div>
<script>window.onload = function(e) {init();animate();}</script>
</body>
</html>