<!doctype html>
<html lang="en">
<head>
	<title>AXA-O-AYA</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<script src="lib/head/socket.io.min.js"></script><!--socket.io.1.3.6-->
	<script src="lib/head/three.min.js"></script><!--THREE.js.0.82-->
	<script src="lib/head/soundmanager2.min.js"></script><!--SM2-->
	<link href="lib/style.css" rel="stylesheet" type="text/css">
</head>
<body style="margin:0px;overflow: hidden;">

<script>
	function Tuto() {
		document.getElementById('imgstart').style.visibility = 'hidden';
	}
	function chill() { Axoaya.reset(); RESPAWN(); Play(); curLevel=0; speedGame = 40; RESTART();}
	function psych() { Axoaya.reset(); RESPAWN(); Play('AN5'); curLevel=1; speedGame = 30; RESTART();}
	function mute() { Stop(); }
	function GAMEOVER() {
		gameOver = true;
		document.getElementById('gameover').style.visibility = 'visible';
		document.getElementById('finalScore').innerHTML = "Score : "+score;
	}
	function RESTART() {
		document.getElementById('gameover').style.visibility = 'hidden';
		document.getElementById('imgstart').style.visibility = 'visible';
		RESPAWN();
		setTimeout(Tuto,5000);
		chill();
	}
	function RESPAWN() {
		gameOver = false;
		score=0;
		players[0].isDead = false; players[0].ship.visible = true;
		players[1].isDead = false; players[1].ship.visible = true;
		players[2].isDead = false; players[2].ship.visible = true;
		players[3].isDead = false; players[3].ship.visible = true;
		removeEnemies(MovingScene,true);
	}
	setTimeout(Tuto,5000);
</script>

<div style="z-index: 100000000; position: absolute; width:100%;">
	<button style="float:left" onclick="chill()">Chill</button>
	<button style="float:left" onclick="psych()">Psych</button>
	<!--<button onclick="hardc()">HardC</button>-->
	<button style="float:left" onclick="mute()">Mute</button>
	<div  style="font-size:1.7em;position:absolute; right:5px;" id="score"></div>

</div>


<div id="gameover" style="z-index: 100000000; visibility:hidden; position: absolute; width:400px; height:200px; left:50%; top:50%; margin-left:-200px; margin-top:-100px;">
	<h1>GAME OVER</h1><br>
	<h2 style="margin-top: 0px;" id="finalScore"></h2>
	<button style="width:200px" onclick="RESTART()"><h3>Try again</h3></button>
</div>

<div id="imgstart" style="z-index: 1000000; visibility:visible; position: absolute; width:100%; height:60%; top:20%; ">
	<img src="img/image.png" alt="Mountain View" style="width:auto;height:100%; border-radius:5px;">
</div>

<!--script>var socket;
	r(function(){socket=io();Socketer();});//.connect();
	function r(f){/in/.test(document.readyState)?setTimeout('r('+f+')',20):f()}
</script-->
<h1>Please Wait - Loading Scripts</h1>
<!-- INGNORE ALL SCRIPT BUT COMPILED -->
<!--script src="exocommander.min.js"></script-->

<!--DATA FILES-->
<script src="data/levels.js"></script>


<div> <!--CORE FILES-->
<script src="core/main.js"></script>
<script src="core/NewScene.js"></script>
<script src="core/Axoaya.js"></script>
<script src="core/over.js"></script>
<script src="core/socket.js"></script> 
<script src="core/SolarSystem.js"></script>
<script src="core/Enemies.js"></script>
<script src="core/Bonus.js"></script>
<script src="core/util.js"></script>
<script src="core/MovingScene.js"></script>
</div>
 
<div> <!--LIB FILES--> 
<script src="lib/cam.js"></script> 
<script src="lib/detector.js"></script> 
<script src="lib/etashader.js"></script> 
<script src="lib/music.js"></script> 
<script src="lib/OBJ.js"></script> 
<script src="lib/stats.js"></script> 
<script src="lib/THREExFS.js"></script> 
<script src="lib/THREExWR.js"></script> 
</div>
 
<div> <!--GUI FILES--> 
<script src="gui/gui.js"></script> 
</div> 
 
<div> <!--DATA FILES--> 
<script src="data/text-en.js"></script> 
</div> 
 

<div id="ThreeJS" style="position: absolute; left:0px; top:0px"></div>
<div style="style:absolute; display:none; z-index:99999; backgound-color:#332255;width:100%;height:100%;text-align:center;">YOU LOOSE</div>
<script>window.onload = function(e) {init();animate();}</script>
</body>
</html>